.hide-cursor {
    cursor: none !important;
}

.custom-range {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    width: 100%;
    --value-percent: 0%;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
.custom-range::-webkit-slider-runnable-track {
    height: 6px;
    border-radius: 9999px;
    background: linear-gradient(to right, #ff0033 0%, #ff0033 var(--value-percent), #ababab70 var(--value-percent), #ababab70 100%);
}

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 14px;
    width: 14px;
    background-color: #ff0033;
    border-radius: 9999px;
    margin-top: -4px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

/* For Firefox */
.custom-range::-moz-range-track {
    height: 6px;
    background: linear-gradient(to right, #ff0033 0%, #ff0033 var(--value-percent), #ababab70 var(--value-percent), #ababab70 100%);
}

.custom-range::-moz-range-thumb {
    height: 14px;
    width: 14px;
    background-color: #ff0033;
    border-radius: 9999px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
