@import "tailwindcss";

body {
    padding: 0;
    margin: 0;
}

@theme {
    --color-bg: #0f0f0f;
    --color-bglight: #222222;
    --color-bgbg: #121212;
    --color-hover: #414141;
    --color-red: #ff0033;
}

@media screen and (min-width: 1024px) {
    ::-webkit-scrollbar {
        width: 13px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ffff;
        border-radius: 3px;
        border: 2px solid #121212;
        margin: 2px;
    }
    ::-webkit-scrollbar-track {
        background-color: #121212;
    }

    ::-webkit-scrollbar-button:single-button:decrement {
        background: url('data:image/svg+xml;utf8,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><polygon points="0,10 5,0 10,10" fill="white"/></svg>')
            no-repeat center;
        background-size: 6px;
    }
    ::-webkit-scrollbar-button:single-button:increment {
        background: url('data:image/svg+xml;utf8,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 5,10 10,0" fill="white"/></svg>')
            no-repeat center;
        background-size: 6px;
    }
}
