@import "tailwindcss";

html {
    color-scheme: none;
}
body {
    padding: 0;
    margin: 0;
    color-scheme: light only;
    forced-color-adjust: none;
}

@theme {
    --color-bg: #0f0f0f;
    --color-bglight: #222222;
    --color-bgbg: #121212;
    --color-hover: #414141;
    --color-white: #ababab;
    --color-red: #ff0033;
}

@media screen and (min-width: 1024px) {
    ::-webkit-scrollbar {
        width: 13px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ababab;
        border-radius: 3px;
        border: 2px solid #121212;
        margin: 2px;
    }
    ::-webkit-scrollbar-track {
        background-color: #121212;
    }

    ::-webkit-scrollbar-button:single-button:decrement {
        background: #121212 url("./assets/up.svg") no-repeat center;
        background-size: 16px;
        height: 15px;
        width: 100%;
    }

    ::-webkit-scrollbar-button:single-button:increment {
        background: #121212 url("./assets/down.svg") no-repeat center;
        background-size: 16px;
        height: 15px;
        width: 100%;
    }
}
